
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="loginformblock">
        <div class="card loginformRegistrn">
            <h3 class="formgheader">Forgot Password</h3>
            <form>
                <p class="ForgotPwrdFirstPare">Please input your details below to generate UDIN credentials.</p>
                <p class="ForgotPwrdSecondPare">These credentials will be sent you through email and sms that is registered with ICAI</p>
                <div class="form-group siderbarlgnform">
                    <input type="text" class="form-control formblock" id="email"
                           value="Membership Number (MRN)" name="email">
                </div>
                <div class="form-group siderbarlgnform">
                    <input type="text" class="form-control formblock" id="pwd" value="Date of Birth" name="pwd">
                </div>
                <div class="form-group siderbarlgnform">
                    <input type="text" class="form-control formblock" id="pwd" value="Year of Enrolment" name="pwd">
                </div>
                <div class="SendOtpBtn">
                    <button type="submit">Sent OTP</button>
                </div>
            </form>
        </div>
    </div>
</div>

