
@{
    ViewBag.Title = "HelpDeskFacilty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 ToChangeTxt">
            <div class="CheckComplntStatusTxt">
                <h6>Check your Complaint Status</h6>
            </div>
        </div>
    </div>
</div>
<div id="loginformblock">
    <div class="card loginformRegistrn">
        <h3 class="formgheader">Complaint Entry</h3>
        <form>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="email" value="MRN*" name="email">
            </div>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="pwd" value="Email*" name="pwd">
            </div>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="pwd" value="Mobile No*" name="pwd">
            </div>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="email" value="Complaint*" name="email">
            </div>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="pwd" value="Captcha*" name="pwd">
            </div>
            <div class="form-group siderbarlgnform">
                <input type="text" class="form-control formblock" id="pwd" value="Enter Captcha Numerals*"
                       name="pwd">
            </div>


            <div class="SendOtpBtn">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

