
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div id="demo" class="icsi_carousel carousel slide" data-interval="false" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/We_will_.jpg" alt="Los Angeles" width="100%" height="100%">

                        </div>
                        <div class="carousel-item">
                            <img src="~/images/We_will_.jpg" alt="Chicago" width="100%" height="100%">

                        </div>
                        <div class="carousel-item">
                            <img src="~/images/We_will_.jpg" alt="New York" width="100%" height="100%">

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 what_new_cols">
                    <div class="about_csi">
                        <h3 class="aboutICSITxt">ABOUT ICSI</h3>
                        <P Class="dummyTxt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to make a type specimen book.
                        </P>
                        <p class="Csi_readmore"><span><a href="#"> Read More... </a> </span> </p>
                    </div>
                </div>

                <div class="col-md-6  profile_carousel">
                    <div id="example1">
                        <p class="watSnWtXT">What's New</p>
                        <ul>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing .</li>

                        </ul>
                        <p class="Csi_readmore"><span><a href="#"> Read More... </a> </span> </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 Csi_login_col">
            <div id="loginformblock">
                <div class="card loginform">
                    <div>
                        <h4 class="formgheader">Member Login</h4>
                    </div>
                    <form class="csi_member_login">
                        <div class="form-group siderbarlgnform">
                            <input type="text" class="form-control formblock" id="email" placeholder="User Name" name="email">
                        </div>
                        <div class="form-group siderbarlgnform">
                            <input type="password" class="form-control formblock" id="pwd" placeholder="Enter password" name="pwd">
                        </div>
                        <div class="submitbtn">
                            <button type="submit">Login</button>
                        </div>
                    </form>

                    <div class="providers">
                        <ul class="list-inline passwordList">
                            <li>
                            
                                <p> @Html.ActionLink("Forget Password", "ForgetPassword")</p>

                            </li>
                            <li>
                                <p> @Html.ActionLink("Registration Members", "MembershipRegistation")</p>

                              
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="verificationblock">
                <div class="card verificationblock">
                    <h4>Authorities/Regulators</h4>
                    <h4>Banks/Others</h4>

                    <div class="verifybtn">
                        <button type="button">Verify UDIN</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="align-content-lg-between" style="height:20Px"></div>

<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-2 Csi_profile_cards">
            <div class="card">

                <div class="img">
                    <img src="~/images/man.png" alt=" " class="img-fluid img-responsive" />
                </div>
                <div class="Tesxt_card">
                    <div class="caption-1">
                        <h4>Kumar Gupta</h4>
                    </div>
                    <div class="caption-2">President</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 Csi_profile_cards">
            <div class="card">
                <div class="img">
                    <img src="~/images/man.png" alt=" " class="img-fluid img-responsive" />
                </div>
                <div class="Tesxt_card">
                    <div class="caption-1">
                        <h4>Rajesh</h4>
                    </div>
                    <div class="caption-2">President</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 Csi_profile_cards">
            <div class="card">
                <div class="img">
                    <img src="~/images/man.png" alt=" " class="img-fluid img-responsive" />
                </div>
                <div class="Tesxt_card">
                    <div class="caption-1">
                        <h4>Rajendra Prasad</h4>
                    </div>
                    <div class="caption-2">Vice-President</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 Csi_profile_cards">
            <div class="card">
                <div class="img">
                    <img src="~/images/man.png" alt=" " class="img-fluid img-responsive" />
                </div>
                <div class="Tesxt_card">
                    <div class="caption-1">
                        <h4>Raj Kumar</h4>
                    </div>
                    <div class="caption-2">Vice-President</div>
                </div>
            </div>
        </div>
    </div>
</div>

